packages:
  yum:
    postgresql11-devel: []
    gcc: []
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: tabbycat.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings.core
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:5001:
    ListenerEnabled: 'true'
    Protocol: HTTPS
container_commands:
  01_install_node:
    command: "curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash - && sudo yum install nodejs"
    ignoreErrors: false
  02_npm_build:
    command: "npm install && npm run build"
    ignoreErrors: false
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  05_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
