packages:
  yum:
    postgresql: []
    gcc: []
    gcc-c++: []
    make: []
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: tabbycat.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings.core
    PYTHONPATH: ./tabbycat:$PYTHONPATH
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:183433612554:certificate/6d09db26-f2ee-4979-b18a-7a1935993445
  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:5001:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:183433612554:certificate/6d09db26-f2ee-4979-b18a-7a1935993445
container_commands:
  01_install_node:
    command: "curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash - && sudo yum install -y nodejs"
    ignoreErrors: false
