container_commands:
  02_npm_build:
    command: "npm install && npm run build"
    ignoreErrors: false
  03_migrate:
    command: "source ../venv/staging-LQM1lest/bin/activate && python manage.py migrate"
    leader_only: true
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"
  05_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
